



<div class="row justify-content-center mt-5">
  <div class="col-md-12">
    <table class="table custom-table text-center">
      <thead class="bg-black text-white">
        <tr>
          <th>Customer Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Gender</th>
            <th>Contact Details</th>
            <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataStore" class="table-row">
          <td>{{ item.customerId }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.gender }}</td>
            <td>{{ item.contactDetails }}</td>
            <td>{{ item.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





